<h1>NivelDanza#edit</h1>
<p>Find me in app/views/nivel_danza/edit.html.erb</p>
<%= form_for @nivel_danza, :url => { :action => :edit } do |p| %>
<%= p.hidden_field :id %>
<%= render "form", p: p %>
<% end %>
