<h1>NivelLibre#edit</h1>
<p>Find me in app/views/nivel_libre/edit.html.erb</p>
<%= form_for @nivel_libre, :url => { :action => :edit } do |p| %>
<%= p.hidden_field :id %>
<%= render "form", p: p %>
<% end %>
